<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
<h1>메인 페이지</h1>
<hr>
<a sec:authorize="isAnonymous()" th:href="@{/user/login}"> <button type="submit">로그인</button> </a>
<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}"><button type="submit">로그아웃</button></a>
<a sec:authorize="isAnonymous()" th:href="@{/user/signup}"><button type="submit">회원가입</button></a>
<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}"><button type="submit">어드민</button></a>
</body>
</html>
